<div class="main-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="username" class="form-label">Usuário:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        [(ngModel)]="userName"
        name="username"
        required
      />
    </div>
    <div class="d-flex flex-column">
      <button type="submit" class="btn btn-primary">Conectar</button>
      <button type="button" routerLink="/register" class="btn btn-link">
        Registrar novo usuário
      </button>
    </div>
  </form>
</div>
