.main-container {
  height: 100vh;
}

.friends-container {
  margin-right: 1em;
}

.friend-list-item {
  border: 1px solid cyan;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.friends-title {
  margin-bottom: 10px;
}

.message-list-item {
  border: 1px solid cyan;
  border-radius: 10px;
}

.sender-message {
  justify-content: flex-end;
}

.sender-message > span {
  background-color: cyan;
}

.selected-friend {
  background-color: cyan;
}

.logout-button {
  margin-right: 10px;
}
